<forms>
    <div>
        <button type="submit">USER LOGIN</button>
        <button type="submit">ADMIN LOGIN</button>
    </div>
    <div>
        <label for="username">USERNAME</label>
        <input id="username" type="text" [(ngModel)]=usn>
    </div>
    <div>
        <label for="password">PASSWORD</label>
        <input id="password" type="password" [(ngModel)]=psw>
    </div>
    <div>
        <button type="submit">LOGIN</button>
        <button type="submit">SIGN UP</button>
        <br>
        <span><a> Forgot password</a></span>
    </div>
</forms>
